/*公共样式*/
/*补充页面的一些功能begin*/
/*头部样式*/
.layout-header {
    box-shadow: 1px 1px 20px #D9EEFF;
    box-shadow: 1px 1px 20px #CCE8FF\9;
    background: rgb(250, 190, 0);
    z-index: 10;
    width: 100%;
}
.layout-title{
    position: absolute;
    top:15px;
    left: 250px;
    font-size: 14px;
}
.layout-title>h4{
	color:white;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.layout-help {
    top: 10px;
    right: 30px;
}
/*头部样式*/

/*工具栏样式*/

/*工具栏样式*/


.self_form {
    padding-left: 15px;
}

.self_title>a{
    height: 35px;
    background-color: white;
    position: absolute;
    top: 7px;
    left: 177px;
    border-radius: 4px;
    color: black;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
    padding: 0px 8px 0px 8px;
    text-decoration-line: none;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
   
}
.my_help{
	display: inline-block;
	width: 60px;
	height: 40px;
	position: absolute;
	top: 15px;
	right: 40px;
	color:white;
}
.my_help>a{
	color:white;
}

.self_form{
    padding-left: 15px;
}

/*form表单的样式*/
label {
    font-weight: 200;
    color: #6B6B6B;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    /*color: #333;*/

}

.self-tool-btn{
    position: absolute;
    top:11px;
    right: 37px;
    z-index: 10000;
    border-radius:50%;
}
.myself_btn{
	display:inline-block;
	width:70px;
	height:25px;
	border:1px solid #d4e3f2;
	color: black;
	border-radius:20px 20px 0 0;
	text-align:center;
	line-height:27px;
	background-color: rgba(255, 228, 141, 0.48);
}
.myself_btn:hover {
    color: #fff;
    background: rgb(250, 190, 0);
    cursor:pointer;
}
input {
    margin: 3px 10px;
    border-radius: 2px;
    padding-left: 5px;
    height: 27px;
    width: 170px;
    border: 1px solid #ccc;
    corsue:pointer;
    border-radius:5px;
}
.my_select{
    width: 180px;
    height:28px;
    margin: 5px 10px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px solid #95B8E7;
    margin-left: 65px;
}


.datagrid-header td{
    font-size: 12px;
    font-weight: 500;
}
#menulist{
    margin-right:20px;
}

#menulist> a{
    text-align: center;
    text-decoration-line: none;
    border:1px solid  rgb(204, 204, 204);
    vertical-align: middle;
    width: 70px;
    height: 32px;
    display: inline-block;
    padding-left: 20px;
    text-align: center;
    line-height: 30px;
    text-decoration-line: none;
    position: relative;
    color: #333;
   	float: left;
   	border-radius:4px;
   	font-weight:500;
   	font-size:13px;
   	margin-right:4px;
   	

}
#menulist> a:hover{
	color:white;
}

#menulist > a > span{
    width:16px;
    height: 16px;
    position: absolute;
    top: 6px;
    left: 6px
}
#menulist >div{
	height:30px;
}

#menulist >a:nth-child(1):hover{
    background-color: rgb(250, 180, 0);
    
    cursor: pointer;
}
#menulist> a:nth-child(2):hover{
    background-color: rgb(255, 180, 0);
     
       cursor: pointer;
}
#menulist > a:nth-child(3):hover{
    background-color: rgb(255, 180, 0);
    
       cursor: pointer;
}
#menulist > a:nth-child(4):hover{
    background-color: rgb(255, 180, 0);
    
       cursor: pointer;
}
#menulist> a:nth-child(5):hover{
    background-color:rgb(255, 180, 0);
   
       cursor: pointer;
}
#menulist > a:nth-child(6):hover{
    background-color: rgb(255, 180, 0);
    
       cursor: pointer;
}
#menulist > a:nth-child(7):hover{
    background-color:rgb(255, 180, 0);
       cursor: pointer;}
       
#menulist> a:nth-child(8):hover{
    background-color:rgb(255, 180, 0);
       cursor: pointer;}

/*头部公共样式*/
.layout_north{
    height: 77px;
    overflow: hidden;
}
#menulist > a > .iterm1 {
    background: url(../images/sprice.png) 0px 0px;
    vertical-align: middle;	
     /*导入数据  */
}
#menulist >a > .iterm2 {
    background: url(../images/sprice.png) -320px -256px;
    vertical-align: middle;	
    /* 编辑数据 */
}
#menulist >a > .iterm3 {
    background: url(../images/sprice.png) -480px -191px;
    vertical-align: middle;	
    /*批量数据  */
}
#menulist > a > .iterm4 {
    background: url("../images/scsy.png") no-repeat center;
    background-size:contain;
    vertical-align: middle;	
}
#menulist > a > .iterm5 {
    background: url(../images/sprice.png) -288px 96px;
    vertical-align: middle;
    /* 查询数据 */
}
#menulist> a>.iterm6{
    background: url("../images/sprice.png") -254px -256px;
    vertical-align: middle;
    /*编辑模板  */
}
#menulist> a>.iterm7{
    background: url("../images/sprice.png") -128px 96px;
    vertical-align: middle;	
    /*导出数据  */
}

#menulist>a>.iterm8{
    background: url("../images/sprice.png") -320px -63px;
   vertical-align: middle;
   /* 快件查询 */
}
#menulist>a>.iterm9{
    background: url("../images/sprice.png") 0px -64px;
   vertical-align: middle;
   /* 保存数据 */
}
#menulist>a>.iterm10{
    background: url("../images/sprice.png") -30px 0px;
   vertical-align: middle;
   /* 添加数据 */
}
#menulist>a>.iterm10{
    background: url("../images/sprice.png") -128px 0px;
   vertical-align: middle;
   /* 重新生成 */
}
#menulist>a>.iterm11{
    background: url("../images/sprice.png") -96px 1px;
   vertical-align: middle;
   /* 统计 */
}
.layout-help > a:nth-child(1) {
    background: url("../images/help.png") no-repeat left;
    padding-left: 20px;
}

/*头部公共样式*/
.my_form{
    background-color: red;
    padding: 5px;
    width: 1100px;

    /*padding-bottom: 10px;*/
}
.my_from >form >div{
    /*width: 250px;*/
    /*background-color: red;*/
    /*height: 200px;*/
    float: left;
    margin-left: 15px;
}
.my_from >form >div>li{
    box-sizing: content-box;
}
.my_from >form>.textarea{
    /*width: 250px;*/
    height: 100px;
    position: relative;
    /*overflow: hidden;*/
    margin-top: 5px;
    margin-left: 20px;


}
.my_from >form>.textarea textarea{
    height: 80px;
    width: 140px;
    resize: none;
    border-radius:3px;
}

.my_from >form>.textarea p{
    position: absolute;
    color: #6B6B6B;
    font-size: 12px;
    opacity: 0.5;
}
.my_from >form>.textarea .radio{
    position: absolute;
    top: 90px;
    left: -5px;
    color: #6B6B6B;
    font-weight: 300;

}
.my_from >form>.textarea .radio>input{
    width: 16px;
    height: 16px;
    margin-top: 5px;
    color: #6B6B6B;
    font-weight: 300;

}
.my_from >form>.textarea>div{
    float: left;

}
/* from表单样式*/
.my-center{
    padding:0px 5px 5px 5px;
    margin-top: -9px;
}
.panel-body {border-color: #E6E6E6; border:none;}
#menulist{height:30px;}
#mypanel{  border:1px solid lightgray;}

/* from表单样式*/
#my_search{
	width:70px;
	height:30px;
	background:#e9e5e5;
	display:block;
	position:absolute;
	margin-left:810px;
	top:60px;
	text-align:center;
	line-height:30px;
	color:black;
	border-radius:5px;
}
#my_search:hover{
	 background-color:rgb(250,180,0);
       cursor: pointer;
       border:1px solid #ddd;
      
   }
 .fSearchIcon{
 		display: inline-block;
        width: 16px;
        height: 16px;
        background-size: cover;
        vertical-align: middle;
        background-image: url('../images/searchs.png');
 }
 #fmfile>input:nth-child(1){
 width:145px;
 height:25px;
 }
   
  .logo {
       	display: inline-block;
        width: 150px;
        height: 40px;
        background-image: url("../images/yundaLogo.jpg");
      	 background-size:contain;
            }
.myself_btn{
	position:absolute;
		right:5px;
		top:24px;
} 

