body,html{ margin: 0; padding: 0;}
input, textarea, select{ font-size: 12px; font-family: Arial,sans-serif; box-shadow: 1px 1px 2px #E6E6E6 inset;}
body, p{ font-size: 12px; font-family: Arial;}
#wrapper{ text-align: center; margin: 0 auto;}
#footer a{ text-decoration: underline;}

/* primary button*/
button.primary {display: inline-block;zoom: 1;*display: inline;vertical-align: baseline;outline: none;cursor: pointer;overflow: hidden; font-weight: bold; text-align: center;text-decoration: none;font-size: 13px;padding: .5em 1em .50em;padding: .5em 1em .5em\9;border-radius:0.3em;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);word-break:keep-all; white-space:nowrap;
 border:1px solid #05A4E3;color:#fff;background: rgb(73,192,240); background: -moz-linear-gradient(top, rgba(73,192,240,1) 0%, rgba(44,175,227,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,192,240,1)), color-stop(100%,rgba(44,175,227,1))); background: -webkit-linear-gradient(top, rgba(73,192,240,1) 0%,rgba(44,175,227,1) 100%); background: -o-linear-gradient(top, rgba(73,192,240,1) 0%,rgba(44,175,227,1) 100%); background: -ms-linear-gradient(top, rgba(73,192,240,1) 0%,rgba(44,175,227,1) 100%); background: linear-gradient(to bottom, rgba(73,192,240,1) 0%,rgba(44,175,227,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 ); }
button.primary:hover,button.primary:focus{background:#0089F2;filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cafe3', endColorstr='#49c0f0',GradientType=0 );}
button.primary:active {position: relative;top:1px;}
button.primary .icon,button.primary img{float:left;width:16px;height:16px;margin:3px 0 0;}
button.primary.disabled{background:#ccc;border-color:#999;text-shadow:none !important;filter:none;}

/* header */
#header{ margin: 0 auto; width: 100%; min-width: 1000px; overflow: visible; }
#header #inner{width: 960px;}
#header #header-line{height:5px;background-color: #CCC;width:100%; }
#logo{margin: 0 auto; width: 280px; height: 80px; background-image: url('../images/yudalogo.png');}
#body{ width: 960px; margin: 0 auto; overflow: visible; position:relative;}
#banner{margin:0 0 50px 0;padding:30px; background-position:center center; background-repeat:no-repeat;}
#split{ float: left; height: 340px; text-align: center; vertical-align: middle; width: 38px;}
/* login box*/
#boxoutline{ position:absolute;right:0; width: 300px;min-height: 340px; opacity:0.5; background:#000;border-radius: 10px;}
#box{ width: 260px; padding: 0 20px; overflow: hidden; float:right; position:absolute;right:0; color:#fafafa;}
#box ul{ margin: 0 0 0 0; padding: 40px 0 0 0; list-style: none;opacity:1 !important; }
#box ul li{ height: 65px; padding: 0 0 0 0; text-align: left;}
#box ul li label.caption{ clear: both; display: block; line-height: 30px; color: #fafafa; font-size: 16px;}
#box ul li label.caption a{ float: right;}
#box ul li input.text, #box ul li select.text{ float: left; background-position: 0 -276px; border: solid 1px #CCC; border-radius: 3px; color: #0082bf;height:30px;line-height:30px\9; width: 250px;font-weight: bold;vertical-align:middle;overflow:hidden; outline:none;}
#box ul li input.text{ font-size: 16px;padding-left:5px;}
#box ul li select.text{ width: 258px; box-shadow: 1px 1px 2px #E6E6E6 inset; height:26px;line-height:26px;padding:3px 0;}
#box input.text.focus{border: 1px solid #35A5F0; box-shadow: 0 0 2px #35A5F0,1px 1px 2px #E6E6E6 inset;}
#box ul li button{  height: 34px; line-height: 30px; margin: 10px 10px 0 0;padding:0 30px; }
#box ul li a{ color: #fafafa; text-decoration: none;}
#box ul li a:hover{ color: #f90; text-decoration: underline;}
.btn{margin-top: 30px;}
#box div#tips{ color: #F76060;font-size: 12px;display: none;text-align: left;position: absolute;padding-left: 16px;margin-top: 15px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 230px;border: solid 1px #f76060;background-color: #ffc;padding: 5px 0 5px 25px;}
#box div#tips a{color:#F76060; text-decoration:underline;}
#remember{ vertical-align: middle; width: 20px;height: 20px;}
.clear{ border-top: 1px solid transparent !important; margin-top: -1px !important; border-top: 0; margin-top: 0; clear: both;}
/* footer */
#footer{ background: #fff; color: #999; clear: both; padding: 0;}
#footer a{ color: #666; text-decoration: none;}
#footer a:hover{ text-decoration: underline;}