<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.zs.entity.Customer" >
    <id column="BAR_CODE" property="barCode" jdbcType="VARCHAR" />
    <result column="CTE_NAME" property="cteName" jdbcType="VARCHAR" />
    <result column="BAR_CODE_PARENT" property="barCodeParent" jdbcType="VARCHAR" />
    <result column="BAR_CODE_PARENT_NAME" property="barCodeParentName" jdbcType="VARCHAR" />
    <result column="SCLICE_AREA" property="scliceArea" jdbcType="VARCHAR" />
    <result column="LARGE_AREA" property="largeArea" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BAR_CODE, CTE_NAME, BAR_CODE_PARENT, BAR_CODE_PARENT_NAME, SCLICE_AREA, LARGE_AREA, 
    CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zs.entity.CustomerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CUSTOMER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CUSTOMER
    where BAR_CODE = #{barCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CUSTOMER
    where BAR_CODE = #{barCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zs.entity.CustomerExample" >
    delete from CUSTOMER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zs.entity.Customer" >
    insert into CUSTOMER (BAR_CODE, CTE_NAME, BAR_CODE_PARENT, 
      BAR_CODE_PARENT_NAME, SCLICE_AREA, LARGE_AREA, 
      CREATE_TIME)
    values (#{barCode,jdbcType=VARCHAR}, #{cteName,jdbcType=VARCHAR}, #{barCodeParent,jdbcType=VARCHAR}, 
      #{barCodeParentName,jdbcType=VARCHAR}, #{scliceArea,jdbcType=VARCHAR}, #{largeArea,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zs.entity.Customer" >
    insert into CUSTOMER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="barCode != null" >
        BAR_CODE,
      </if>
      <if test="cteName != null" >
        CTE_NAME,
      </if>
      <if test="barCodeParent != null" >
        BAR_CODE_PARENT,
      </if>
      <if test="barCodeParentName != null" >
        BAR_CODE_PARENT_NAME,
      </if>
      <if test="scliceArea != null" >
        SCLICE_AREA,
      </if>
      <if test="largeArea != null" >
        LARGE_AREA,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="barCode != null" >
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="cteName != null" >
        #{cteName,jdbcType=VARCHAR},
      </if>
      <if test="barCodeParent != null" >
        #{barCodeParent,jdbcType=VARCHAR},
      </if>
      <if test="barCodeParentName != null" >
        #{barCodeParentName,jdbcType=VARCHAR},
      </if>
      <if test="scliceArea != null" >
        #{scliceArea,jdbcType=VARCHAR},
      </if>
      <if test="largeArea != null" >
        #{largeArea,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zs.entity.CustomerExample" resultType="java.lang.Integer" >
    select count(*) from CUSTOMER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CUSTOMER
    <set >
      <if test="record.barCode != null" >
        BAR_CODE = #{record.barCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cteName != null" >
        CTE_NAME = #{record.cteName,jdbcType=VARCHAR},
      </if>
      <if test="record.barCodeParent != null" >
        BAR_CODE_PARENT = #{record.barCodeParent,jdbcType=VARCHAR},
      </if>
      <if test="record.barCodeParentName != null" >
        BAR_CODE_PARENT_NAME = #{record.barCodeParentName,jdbcType=VARCHAR},
      </if>
      <if test="record.scliceArea != null" >
        SCLICE_AREA = #{record.scliceArea,jdbcType=VARCHAR},
      </if>
      <if test="record.largeArea != null" >
        LARGE_AREA = #{record.largeArea,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CUSTOMER
    set BAR_CODE = #{record.barCode,jdbcType=VARCHAR},
      CTE_NAME = #{record.cteName,jdbcType=VARCHAR},
      BAR_CODE_PARENT = #{record.barCodeParent,jdbcType=VARCHAR},
      BAR_CODE_PARENT_NAME = #{record.barCodeParentName,jdbcType=VARCHAR},
      SCLICE_AREA = #{record.scliceArea,jdbcType=VARCHAR},
      LARGE_AREA = #{record.largeArea,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zs.entity.Customer" >
    update CUSTOMER
    <set >
      <if test="cteName != null" >
        CTE_NAME = #{cteName,jdbcType=VARCHAR},
      </if>
      <if test="barCodeParent != null" >
        BAR_CODE_PARENT = #{barCodeParent,jdbcType=VARCHAR},
      </if>
      <if test="barCodeParentName != null" >
        BAR_CODE_PARENT_NAME = #{barCodeParentName,jdbcType=VARCHAR},
      </if>
      <if test="scliceArea != null" >
        SCLICE_AREA = #{scliceArea,jdbcType=VARCHAR},
      </if>
      <if test="largeArea != null" >
        LARGE_AREA = #{largeArea,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where BAR_CODE = #{barCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zs.entity.Customer" >
    update CUSTOMER
    set CTE_NAME = #{cteName,jdbcType=VARCHAR},
      BAR_CODE_PARENT = #{barCodeParent,jdbcType=VARCHAR},
      BAR_CODE_PARENT_NAME = #{barCodeParentName,jdbcType=VARCHAR},
      SCLICE_AREA = #{scliceArea,jdbcType=VARCHAR},
      LARGE_AREA = #{largeArea,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where BAR_CODE = #{barCode,jdbcType=VARCHAR}
  </update>
</mapper>