<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.dao.KdniaoTranceMapper" >
  <resultMap id="BaseResultMap" type="com.zs.entity.KdniaoTrance" >
    <result column="ACCEPT_TIME" property="acceptTime" jdbcType="TIMESTAMP" />
    <result column="ACCEPT_STATION" property="acceptStation" jdbcType="VARCHAR" />
    <result column="LOGISTICCODE" property="logisticcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ACCEPT_TIME, ACCEPT_STATION, LOGISTICCODE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zs.entity.KdniaoTranceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from KDNIAO_TRANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zs.entity.KdniaoTranceExample" >
    delete from KDNIAO_TRANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zs.entity.KdniaoTrance" >
    insert into KDNIAO_TRANCE (ACCEPT_TIME, ACCEPT_STATION, LOGISTICCODE
      )
    values (#{acceptTime,jdbcType=TIMESTAMP}, #{acceptStation,jdbcType=VARCHAR}, #{logisticcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zs.entity.KdniaoTrance" >
    insert into KDNIAO_TRANCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acceptTime != null" >
        ACCEPT_TIME,
      </if>
      <if test="acceptStation != null" >
        ACCEPT_STATION,
      </if>
      <if test="logisticcode != null" >
        LOGISTICCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acceptTime != null" >
        #{acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptStation != null" >
        #{acceptStation,jdbcType=VARCHAR},
      </if>
      <if test="logisticcode != null" >
        #{logisticcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zs.entity.KdniaoTranceExample" resultType="java.lang.Integer" >
    select count(*) from KDNIAO_TRANCE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update KDNIAO_TRANCE
    <set >
      <if test="record.acceptTime != null" >
        ACCEPT_TIME = #{record.acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.acceptStation != null" >
        ACCEPT_STATION = #{record.acceptStation,jdbcType=VARCHAR},
      </if>
      <if test="record.logisticcode != null" >
        LOGISTICCODE = #{record.logisticcode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update KDNIAO_TRANCE
    set ACCEPT_TIME = #{record.acceptTime,jdbcType=TIMESTAMP},
      ACCEPT_STATION = #{record.acceptStation,jdbcType=VARCHAR},
      LOGISTICCODE = #{record.logisticcode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>