<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.dao.KdniaoLogisticcodeMapper" >
  <resultMap id="BaseResultMap" type="com.zs.entity.KdniaoLogisticcode" >
    <id column="LOGISTICCODE" property="logisticcode" jdbcType="VARCHAR" />
    <result column="ISSIGN" property="issign" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LOGISTICCODE, ISSIGN, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zs.entity.KdniaoLogisticcodeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from KDNIAOLOGISTICCODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from KDNIAOLOGISTICCODE
    where LOGISTICCODE = #{logisticcode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from KDNIAOLOGISTICCODE
    where LOGISTICCODE = #{logisticcode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zs.entity.KdniaoLogisticcodeExample" >
    delete from KDNIAOLOGISTICCODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zs.entity.KdniaoLogisticcode" >
    insert into KDNIAOLOGISTICCODE (LOGISTICCODE, ISSIGN, CREATE_TIME
      )
    values (#{logisticcode,jdbcType=VARCHAR}, #{issign,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zs.entity.KdniaoLogisticcode" >
    insert into KDNIAOLOGISTICCODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logisticcode != null" >
        LOGISTICCODE,
      </if>
      <if test="issign != null" >
        ISSIGN,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logisticcode != null" >
        #{logisticcode,jdbcType=VARCHAR},
      </if>
      <if test="issign != null" >
        #{issign,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zs.entity.KdniaoLogisticcodeExample" resultType="java.lang.Integer" >
    select count(*) from KDNIAOLOGISTICCODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update KDNIAOLOGISTICCODE
    <set >
      <if test="record.logisticcode != null" >
        LOGISTICCODE = #{record.logisticcode,jdbcType=VARCHAR},
      </if>
      <if test="record.issign != null" >
        ISSIGN = #{record.issign,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update KDNIAOLOGISTICCODE
    set LOGISTICCODE = #{record.logisticcode,jdbcType=VARCHAR},
      ISSIGN = #{record.issign,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zs.entity.KdniaoLogisticcode" >
    update KDNIAOLOGISTICCODE
    <set >
      <if test="issign != null" >
        ISSIGN = #{issign,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where LOGISTICCODE = #{logisticcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zs.entity.KdniaoLogisticcode" >
    update KDNIAOLOGISTICCODE
    set ISSIGN = #{issign,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where LOGISTICCODE = #{logisticcode,jdbcType=VARCHAR}
  </update>
  <select id="UpdateLogisticcode"  parameterType="com.zs.entity.other.EasyUIAccept">
	{call updatelogisticcode(#{date1},#{date2})} 
  </select>
  <!-- 
  <select id="query9000logisticcode" resultType="java.lang.String">
  	select t.logisticcode from (select logisticcode from kdniaologisticcode 
  	where issign ='0' order by CREATE_TIME asc) t  where  rownum<9001
  </select>
  -->
</mapper>