<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.dao.ProvinceCodeMapper" >
  <resultMap id="BaseResultMap" type="com.zs.entity.ProvinceCode" >
    <id column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PROVINCE_CODE, PROVINCE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zs.entity.ProvinceCodeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from PROVINCE_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from PROVINCE_CODE
    where PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from PROVINCE_CODE
    where PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zs.entity.ProvinceCodeExample" >
    delete from PROVINCE_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zs.entity.ProvinceCode" >
    insert into PROVINCE_CODE (PROVINCE_CODE, PROVINCE)
    values (#{provinceCode,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zs.entity.ProvinceCode" >
    insert into PROVINCE_CODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zs.entity.ProvinceCodeExample" resultType="java.lang.Integer" >
    select count(*) from PROVINCE_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PROVINCE_CODE
    <set >
      <if test="record.provinceCode != null" >
        PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        PROVINCE = #{record.province,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PROVINCE_CODE
    set PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      PROVINCE = #{record.province,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zs.entity.ProvinceCode" >
    update PROVINCE_CODE
    <set >
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
    </set>
    where PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zs.entity.ProvinceCode" >
    update PROVINCE_CODE
    set PROVINCE = #{province,jdbcType=VARCHAR}
    where PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR}
  </update>
  <select id="queryFenye" resultMap="BaseResultMap" parameterType="com.zs.entity.other.EasyUIAccept">
  	select * from
  	(
	  	select t1.*,rownum rn from
	  	(
		  	select * from PROVINCE_CODE
		  	<where>
		  	</where>
		  	<if test="sort!=null and order!=null">
		  		order by ${sort} ${order}
		  	</if>
		  	<if test="sort==null or order==null">
		  		order by PROVINCE_CODE asc
		  	</if>
	  	) t1
	  	<where>
	  		<if test="end!=null">
	  			rownum &lt;= #{end}
		  	</if>
	  	</where>
  	)
  	<where>
  		<if test="start!=null">
  			rn > #{start}
	  	</if>
  	</where>
  </select>
  <select id="getCount" resultType="int" parameterType="com.zs.entity.other.EasyUIAccept">
  	select count(*) from PROVINCE_CODE
  	<where>
  	</where>
  </select>
</mapper>