<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.dao.SourceThirdPartyMapper" >
  <resultMap id="BaseResultMap" type="com.zs.entity.SourceThirdParty" >
    <id column="COURIER_NUMBER" property="courierNumber" jdbcType="VARCHAR" />
    <id column="RETURN_DATE" property="returnDate" jdbcType="TIMESTAMP" />
    <result column="SEND_TIME" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="CTM_NAME" property="ctmName" jdbcType="VARCHAR" />
    <result column="CTM_BAR_CODE" property="ctmBarCode" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="DELIVERY_STATE" property="deliveryState" jdbcType="VARCHAR" />
    <result column="SIGNATORY" property="signatory" jdbcType="VARCHAR" />
    <result column="ADDRESSEE" property="addressee" jdbcType="VARCHAR" />
    <result column="SIGN_TIME" property="signTime" jdbcType="TIMESTAMP" />
    <result column="ABNORMAL_CAUSE" property="abnormalCause" jdbcType="VARCHAR" />
    <result column="IS_TIME_OUT" property="isTimeOut" jdbcType="DECIMAL" />
    <result column="ORDER_NUMBER" property="orderNumber" jdbcType="VARCHAR" />
    <result column="SHOP_NUMBER" property="shopNumber" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="WEIGHT" property="weight" jdbcType="DECIMAL" />
    <result column="COURIER_COMPANY" property="courierCompany" jdbcType="VARCHAR" />
    <result column="GOODS" property="goods" jdbcType="VARCHAR" />
    <result column="GOODS_COST" property="goodsCost" jdbcType="DECIMAL" />
    <result column="FEE" property="fee" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="LARGE_AREA" property="largeArea" jdbcType="VARCHAR" />
    <result column="SLICE_AREA" property="sliceArea" jdbcType="VARCHAR" />
    <result column="FENBU" property="fenbu" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="FBD_AREA" property="fbdArea" jdbcType="VARCHAR" />
    <result column="SIGN_PORT" property="signPort" jdbcType="VARCHAR" />
    <association column="COURIER_NUMBER" property="noUpdate" select="com.zs.dao.NoUpdateMapper.selectByNumberOfTp"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    COURIER_NUMBER, RETURN_DATE, SEND_TIME, CTM_NAME, CTM_BAR_CODE, PROVINCE, ADDRESS, 
    DELIVERY_STATE, SIGNATORY, ADDRESSEE, SIGN_TIME, ABNORMAL_CAUSE, IS_TIME_OUT, ORDER_NUMBER, 
    SHOP_NUMBER, PHONE, WEIGHT, COURIER_COMPANY, GOODS, GOODS_COST, FEE, CREATE_TIME, 
    LARGE_AREA, SLICE_AREA, FENBU, CREATE_DATE, FBD_AREA, SIGN_PORT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zs.entity.SourceThirdPartyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SOURCE_THIRD_PARTY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.zs.entity.SourceThirdPartyKey" >
    select 
    <include refid="Base_Column_List" />
    from SOURCE_THIRD_PARTY
    where COURIER_NUMBER = #{courierNumber,jdbcType=VARCHAR}
      and RETURN_DATE = #{returnDate,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zs.entity.SourceThirdPartyKey" >
    delete from SOURCE_THIRD_PARTY
    where COURIER_NUMBER = #{courierNumber,jdbcType=VARCHAR}
      and RETURN_DATE = #{returnDate,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="com.zs.entity.SourceThirdPartyExample" >
    delete from SOURCE_THIRD_PARTY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zs.entity.SourceThirdParty" >
    insert into SOURCE_THIRD_PARTY (COURIER_NUMBER, RETURN_DATE, SEND_TIME, 
      CTM_NAME, CTM_BAR_CODE, PROVINCE, 
      ADDRESS, DELIVERY_STATE, SIGNATORY, 
      ADDRESSEE, SIGN_TIME, ABNORMAL_CAUSE, 
      IS_TIME_OUT, ORDER_NUMBER, SHOP_NUMBER, 
      PHONE, WEIGHT, COURIER_COMPANY, 
      GOODS, GOODS_COST, FEE, 
      CREATE_TIME, LARGE_AREA, SLICE_AREA, 
      FENBU, CREATE_DATE, FBD_AREA, 
      SIGN_PORT)
    values (#{courierNumber,jdbcType=VARCHAR}, #{returnDate,jdbcType=TIMESTAMP}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{ctmName,jdbcType=VARCHAR}, #{ctmBarCode,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{deliveryState,jdbcType=VARCHAR}, #{signatory,jdbcType=VARCHAR}, 
      #{addressee,jdbcType=VARCHAR}, #{signTime,jdbcType=TIMESTAMP}, #{abnormalCause,jdbcType=VARCHAR}, 
      #{isTimeOut,jdbcType=DECIMAL}, #{orderNumber,jdbcType=VARCHAR}, #{shopNumber,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, #{courierCompany,jdbcType=VARCHAR}, 
      #{goods,jdbcType=VARCHAR}, #{goodsCost,jdbcType=DECIMAL}, #{fee,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{largeArea,jdbcType=VARCHAR}, #{sliceArea,jdbcType=VARCHAR}, 
      #{fenbu,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{fbdArea,jdbcType=VARCHAR}, 
      #{signPort,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zs.entity.SourceThirdParty" >
    insert into SOURCE_THIRD_PARTY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courierNumber != null" >
        COURIER_NUMBER,
      </if>
      <if test="returnDate != null" >
        RETURN_DATE,
      </if>
      <if test="sendTime != null" >
        SEND_TIME,
      </if>
      <if test="ctmName != null" >
        CTM_NAME,
      </if>
      <if test="ctmBarCode != null" >
        CTM_BAR_CODE,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="deliveryState != null" >
        DELIVERY_STATE,
      </if>
      <if test="signatory != null" >
        SIGNATORY,
      </if>
      <if test="addressee != null" >
        ADDRESSEE,
      </if>
      <if test="signTime != null" >
        SIGN_TIME,
      </if>
      <if test="abnormalCause != null" >
        ABNORMAL_CAUSE,
      </if>
      <if test="isTimeOut != null" >
        IS_TIME_OUT,
      </if>
      <if test="orderNumber != null" >
        ORDER_NUMBER,
      </if>
      <if test="shopNumber != null" >
        SHOP_NUMBER,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="weight != null" >
        WEIGHT,
      </if>
      <if test="courierCompany != null" >
        COURIER_COMPANY,
      </if>
      <if test="goods != null" >
        GOODS,
      </if>
      <if test="goodsCost != null" >
        GOODS_COST,
      </if>
      <if test="fee != null" >
        FEE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="largeArea != null" >
        LARGE_AREA,
      </if>
      <if test="sliceArea != null" >
        SLICE_AREA,
      </if>
      <if test="fenbu != null" >
        FENBU,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="fbdArea != null" >
        FBD_AREA,
      </if>
      <if test="signPort != null" >
        SIGN_PORT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courierNumber != null" >
        #{courierNumber,jdbcType=VARCHAR},
      </if>
      <if test="returnDate != null" >
        #{returnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctmName != null" >
        #{ctmName,jdbcType=VARCHAR},
      </if>
      <if test="ctmBarCode != null" >
        #{ctmBarCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="deliveryState != null" >
        #{deliveryState,jdbcType=VARCHAR},
      </if>
      <if test="signatory != null" >
        #{signatory,jdbcType=VARCHAR},
      </if>
      <if test="addressee != null" >
        #{addressee,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null" >
        #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="abnormalCause != null" >
        #{abnormalCause,jdbcType=VARCHAR},
      </if>
      <if test="isTimeOut != null" >
        #{isTimeOut,jdbcType=DECIMAL},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="shopNumber != null" >
        #{shopNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="courierCompany != null" >
        #{courierCompany,jdbcType=VARCHAR},
      </if>
      <if test="goods != null" >
        #{goods,jdbcType=VARCHAR},
      </if>
      <if test="goodsCost != null" >
        #{goodsCost,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="largeArea != null" >
        #{largeArea,jdbcType=VARCHAR},
      </if>
      <if test="sliceArea != null" >
        #{sliceArea,jdbcType=VARCHAR},
      </if>
      <if test="fenbu != null" >
        #{fenbu,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fbdArea != null" >
        #{fbdArea,jdbcType=VARCHAR},
      </if>
      <if test="signPort != null" >
        #{signPort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zs.entity.SourceThirdPartyExample" resultType="java.lang.Integer" >
    select count(*) from SOURCE_THIRD_PARTY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SOURCE_THIRD_PARTY
    <set >
      <if test="record.courierNumber != null" >
        COURIER_NUMBER = #{record.courierNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.returnDate != null" >
        RETURN_DATE = #{record.returnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sendTime != null" >
        SEND_TIME = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ctmName != null" >
        CTM_NAME = #{record.ctmName,jdbcType=VARCHAR},
      </if>
      <if test="record.ctmBarCode != null" >
        CTM_BAR_CODE = #{record.ctmBarCode,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        PROVINCE = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryState != null" >
        DELIVERY_STATE = #{record.deliveryState,jdbcType=VARCHAR},
      </if>
      <if test="record.signatory != null" >
        SIGNATORY = #{record.signatory,jdbcType=VARCHAR},
      </if>
      <if test="record.addressee != null" >
        ADDRESSEE = #{record.addressee,jdbcType=VARCHAR},
      </if>
      <if test="record.signTime != null" >
        SIGN_TIME = #{record.signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.abnormalCause != null" >
        ABNORMAL_CAUSE = #{record.abnormalCause,jdbcType=VARCHAR},
      </if>
      <if test="record.isTimeOut != null" >
        IS_TIME_OUT = #{record.isTimeOut,jdbcType=DECIMAL},
      </if>
      <if test="record.orderNumber != null" >
        ORDER_NUMBER = #{record.orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.shopNumber != null" >
        SHOP_NUMBER = #{record.shopNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null" >
        WEIGHT = #{record.weight,jdbcType=DECIMAL},
      </if>
      <if test="record.courierCompany != null" >
        COURIER_COMPANY = #{record.courierCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.goods != null" >
        GOODS = #{record.goods,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCost != null" >
        GOODS_COST = #{record.goodsCost,jdbcType=DECIMAL},
      </if>
      <if test="record.fee != null" >
        FEE = #{record.fee,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.largeArea != null" >
        LARGE_AREA = #{record.largeArea,jdbcType=VARCHAR},
      </if>
      <if test="record.sliceArea != null" >
        SLICE_AREA = #{record.sliceArea,jdbcType=VARCHAR},
      </if>
      <if test="record.fenbu != null" >
        FENBU = #{record.fenbu,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fbdArea != null" >
        FBD_AREA = #{record.fbdArea,jdbcType=VARCHAR},
      </if>
      <if test="record.signPort != null" >
        SIGN_PORT = #{record.signPort,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SOURCE_THIRD_PARTY
    set COURIER_NUMBER = #{record.courierNumber,jdbcType=VARCHAR},
      RETURN_DATE = #{record.returnDate,jdbcType=TIMESTAMP},
      SEND_TIME = #{record.sendTime,jdbcType=TIMESTAMP},
      CTM_NAME = #{record.ctmName,jdbcType=VARCHAR},
      CTM_BAR_CODE = #{record.ctmBarCode,jdbcType=VARCHAR},
      PROVINCE = #{record.province,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      DELIVERY_STATE = #{record.deliveryState,jdbcType=VARCHAR},
      SIGNATORY = #{record.signatory,jdbcType=VARCHAR},
      ADDRESSEE = #{record.addressee,jdbcType=VARCHAR},
      SIGN_TIME = #{record.signTime,jdbcType=TIMESTAMP},
      ABNORMAL_CAUSE = #{record.abnormalCause,jdbcType=VARCHAR},
      IS_TIME_OUT = #{record.isTimeOut,jdbcType=DECIMAL},
      ORDER_NUMBER = #{record.orderNumber,jdbcType=VARCHAR},
      SHOP_NUMBER = #{record.shopNumber,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      WEIGHT = #{record.weight,jdbcType=DECIMAL},
      COURIER_COMPANY = #{record.courierCompany,jdbcType=VARCHAR},
      GOODS = #{record.goods,jdbcType=VARCHAR},
      GOODS_COST = #{record.goodsCost,jdbcType=DECIMAL},
      FEE = #{record.fee,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      LARGE_AREA = #{record.largeArea,jdbcType=VARCHAR},
      SLICE_AREA = #{record.sliceArea,jdbcType=VARCHAR},
      FENBU = #{record.fenbu,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      FBD_AREA = #{record.fbdArea,jdbcType=VARCHAR},
      SIGN_PORT = #{record.signPort,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zs.entity.SourceThirdParty" >
    update SOURCE_THIRD_PARTY
    <set >
      <if test="sendTime != null" >
        SEND_TIME = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctmName != null" >
        CTM_NAME = #{ctmName,jdbcType=VARCHAR},
      </if>
      <if test="ctmBarCode != null" >
        CTM_BAR_CODE = #{ctmBarCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="deliveryState != null" >
        DELIVERY_STATE = #{deliveryState,jdbcType=VARCHAR},
      </if>
      <if test="signatory != null" >
        SIGNATORY = #{signatory,jdbcType=VARCHAR},
      </if>
      <if test="addressee != null" >
        ADDRESSEE = #{addressee,jdbcType=VARCHAR},
      </if>
      <if test="signTime != null" >
        SIGN_TIME = #{signTime,jdbcType=TIMESTAMP},
      </if>
      <if test="abnormalCause != null" >
        ABNORMAL_CAUSE = #{abnormalCause,jdbcType=VARCHAR},
      </if>
      <if test="isTimeOut != null" >
        IS_TIME_OUT = #{isTimeOut,jdbcType=DECIMAL},
      </if>
      <if test="orderNumber != null" >
        ORDER_NUMBER = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="shopNumber != null" >
        SHOP_NUMBER = #{shopNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        WEIGHT = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="courierCompany != null" >
        COURIER_COMPANY = #{courierCompany,jdbcType=VARCHAR},
      </if>
      <if test="goods != null" >
        GOODS = #{goods,jdbcType=VARCHAR},
      </if>
      <if test="goodsCost != null" >
        GOODS_COST = #{goodsCost,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        FEE = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="largeArea != null" >
        LARGE_AREA = #{largeArea,jdbcType=VARCHAR},
      </if>
      <if test="sliceArea != null" >
        SLICE_AREA = #{sliceArea,jdbcType=VARCHAR},
      </if>
      <if test="fenbu != null" >
        FENBU = #{fenbu,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fbdArea != null" >
        FBD_AREA = #{fbdArea,jdbcType=VARCHAR},
      </if>
      <if test="signPort != null" >
        SIGN_PORT = #{signPort,jdbcType=VARCHAR},
      </if>
    </set>
    where COURIER_NUMBER = #{courierNumber,jdbcType=VARCHAR}
      and RETURN_DATE = #{returnDate,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zs.entity.SourceThirdParty" >
    update SOURCE_THIRD_PARTY
    set SEND_TIME = #{sendTime,jdbcType=TIMESTAMP},
      CTM_NAME = #{ctmName,jdbcType=VARCHAR},
      CTM_BAR_CODE = #{ctmBarCode,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      DELIVERY_STATE = #{deliveryState,jdbcType=VARCHAR},
      SIGNATORY = #{signatory,jdbcType=VARCHAR},
      ADDRESSEE = #{addressee,jdbcType=VARCHAR},
      SIGN_TIME = #{signTime,jdbcType=TIMESTAMP},
      ABNORMAL_CAUSE = #{abnormalCause,jdbcType=VARCHAR},
      IS_TIME_OUT = #{isTimeOut,jdbcType=DECIMAL},
      ORDER_NUMBER = #{orderNumber,jdbcType=VARCHAR},
      SHOP_NUMBER = #{shopNumber,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      WEIGHT = #{weight,jdbcType=DECIMAL},
      COURIER_COMPANY = #{courierCompany,jdbcType=VARCHAR},
      GOODS = #{goods,jdbcType=VARCHAR},
      GOODS_COST = #{goodsCost,jdbcType=DECIMAL},
      FEE = #{fee,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LARGE_AREA = #{largeArea,jdbcType=VARCHAR},
      SLICE_AREA = #{sliceArea,jdbcType=VARCHAR},
      FENBU = #{fenbu,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      FBD_AREA = #{fbdArea,jdbcType=VARCHAR},
      SIGN_PORT = #{signPort,jdbcType=VARCHAR}
    where COURIER_NUMBER = #{courierNumber,jdbcType=VARCHAR}
      and RETURN_DATE = #{returnDate,jdbcType=TIMESTAMP}
  </update>
  <select id="queryFenye" resultMap="BaseResultMap" parameterType="com.zs.entity.other.EasyUIAccept">
  	select * from (
		select t1.*,rownum rn from (
		    select s2.* from (select courier_number, max(return_date) tm from SOURCE_THIRD_PARTY group by courier_number) s1,SOURCE_THIRD_PARTY s2
		    <where>
		        s1.courier_number=s2.courier_number and s1.tm=s2.return_date
		    	<if test="str1!=null">
			  		and s2.CTM_BAR_CODE in (${str1})
			  	</if>
			  	<if test="date1!=null and date1!=''">
		 			and s2.SEND_TIME >= #{date1}
				</if>
				<if test="date2!=null and date2!=''">
		 			and s2.SEND_TIME &lt;= #{date2}
				</if>
			  	<if test="str2!=null and str2!=''">
			  		and s2.DELIVERY_STATE = #{str2}
			  	</if>
			  	<if test="str3!=null and str3!=''">
			  		and s2.COURIER_NUMBER like '%${str3}%'
			  	</if>
			  	<if test="str4!=null and str4!=''">
			  		and s2.CTM_BAR_CODE like '%${str4}%'
			  	</if>
			  	<if test="str5!=null and str5!=''">
			  		and s2.ORDER_NUMBER like '%${str5}%'
			  	</if>
			  	<if test="str6!=null and str6!=''">
			  		and s2.SHOP_NUMBER like '%${str6}%'
			  	</if>
			  	<if test="int1!=null">
			  		and IS_TIME_OUT = #{int1}
			  	</if>
		    </where>
		    <if test="sort!=null and order!=null">
		  		order by s2.${sort} ${order},s2.CREATE_TIME desc
		  	</if>
		  	<if test="sort==null or order==null">
		  		order by s2.CREATE_TIME desc
		  	</if>
		) t1
		<where>
	  		<if test="end!=null">
	  			rownum &lt;= #{end}
		  	</if>
	  	</where>
  	)
  	<where>
  		<if test="start!=null">
  			rn > #{start}
	  	</if>
  	</where>
  </select>
  <select id="getCount" resultType="int" parameterType="com.zs.entity.other.EasyUIAccept">
  	select count(*) from (select courier_number, max(return_date) tm from SOURCE_THIRD_PARTY group by courier_number) s1,SOURCE_THIRD_PARTY s2
    <where>
        s1.courier_number=s2.courier_number and s1.tm=s2.return_date
    	<if test="str1!=null">
	  		and s2.CTM_BAR_CODE in (${str1})
	  	</if>
	  	<if test="date1!=null and date1!=''">
 			and s2.SEND_TIME >= #{date1}
		</if>
		<if test="date2!=null and date2!=''">
 			and s2.SEND_TIME &lt;= #{date2}
		</if>
	  	<if test="str2!=null and str2!=''">
	  		and s2.DELIVERY_STATE = #{str2}
	  	</if>
	  	<if test="str3!=null and str3!=''">
	  		and s2.COURIER_NUMBER like '%${str3}%'
	  	</if>
	  	<if test="str4!=null and str4!=''">
	  		and s2.CTM_BAR_CODE like '%${str4}%'
	  	</if>
	  	<if test="str5!=null and str5!=''">
	  		and s2.ORDER_NUMBER like '%${str5}%'
	  	</if>
	  	<if test="str6!=null and str6!=''">
	  		and s2.SHOP_NUMBER like '%${str6}%'
	  	</if>
	  	<if test="int1!=null">
	  		and IS_TIME_OUT = #{int1}
	  	</if>
    </where>		
  </select>
  <select id="queryByNumber" resultMap="BaseResultMap" parameterType="com.zs.entity.other.EasyUIAccept">
  	select * from SOURCE_THIRD_PARTY
  	<where>
  		COURIER_NUMBER = #{str1}
  	</where>
  	<if test="sort!=null and order!=null">
  		order by ${sort} ${order},CREATE_TIME desc
  	</if>
  	<if test="sort==null or order==null">
  		order by CREATE_TIME desc
  	</if>
  </select>
</mapper>