<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.dao.SourceImportMapper" >
  <resultMap id="BaseResultMap" type="com.zs.entity.SourceImport" >
    <id column="COURIER_NUMBER" property="courierNumber" jdbcType="VARCHAR" />
    <result column="CTM_BAR_CODE" property="ctmBarCode" jdbcType="VARCHAR" />
    <result column="CTM_NAME" property="ctmName" jdbcType="VARCHAR" />
    <result column="SHOP_NUMBER" property="shopNumber" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="ADDRESSEE" property="addressee" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="COURIER_COMPANY" property="courierCompany" jdbcType="VARCHAR" />
    <result column="GOODS" property="goods" jdbcType="VARCHAR" />
    <result column="GOODS_COST" property="goodsCost" jdbcType="DECIMAL" />
    <result column="ORDER_NUMBER" property="orderNumber" jdbcType="VARCHAR" />
    <result column="NUMBER_TYPE" property="numberType" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="IS_PUSHED" property="isPushed" jdbcType="DECIMAL" />
    <result column="STU_NUM" property="stuNum" jdbcType="VARCHAR" />
    <result column="ONE_CODE" property="oneCode" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    COURIER_NUMBER, CTM_BAR_CODE, CTM_NAME, SHOP_NUMBER, CREATE_DATE, ADDRESS, ADDRESSEE, 
    PHONE, COURIER_COMPANY, GOODS, GOODS_COST, ORDER_NUMBER, NUMBER_TYPE, CREATE_TIME, 
    IS_PUSHED, STU_NUM, ONE_CODE, PROVINCE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zs.entity.SourceImportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from SOURCE_IMPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SOURCE_IMPORT
    where COURIER_NUMBER = #{courierNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SOURCE_IMPORT
    where COURIER_NUMBER = #{courierNumber,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zs.entity.SourceImportExample" >
    delete from SOURCE_IMPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zs.entity.SourceImport" >
    insert into SOURCE_IMPORT (COURIER_NUMBER, CTM_BAR_CODE, CTM_NAME, 
      SHOP_NUMBER, CREATE_DATE, ADDRESS, 
      ADDRESSEE, PHONE, COURIER_COMPANY, 
      GOODS, GOODS_COST, ORDER_NUMBER, 
      NUMBER_TYPE, CREATE_TIME, IS_PUSHED, 
      STU_NUM, ONE_CODE, PROVINCE
      )
    values (#{courierNumber,jdbcType=VARCHAR}, #{ctmBarCode,jdbcType=VARCHAR}, #{ctmName,jdbcType=VARCHAR}, 
      #{shopNumber,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR}, 
      #{addressee,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{courierCompany,jdbcType=VARCHAR}, 
      #{goods,jdbcType=VARCHAR}, #{goodsCost,jdbcType=DECIMAL}, #{orderNumber,jdbcType=VARCHAR}, 
      #{numberType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{isPushed,jdbcType=DECIMAL}, 
      #{stuNum,jdbcType=VARCHAR}, #{oneCode,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zs.entity.SourceImport" >
    insert into SOURCE_IMPORT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courierNumber != null" >
        COURIER_NUMBER,
      </if>
      <if test="ctmBarCode != null" >
        CTM_BAR_CODE,
      </if>
      <if test="ctmName != null" >
        CTM_NAME,
      </if>
      <if test="shopNumber != null" >
        SHOP_NUMBER,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="addressee != null" >
        ADDRESSEE,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="courierCompany != null" >
        COURIER_COMPANY,
      </if>
      <if test="goods != null" >
        GOODS,
      </if>
      <if test="goodsCost != null" >
        GOODS_COST,
      </if>
      <if test="orderNumber != null" >
        ORDER_NUMBER,
      </if>
      <if test="numberType != null" >
        NUMBER_TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="isPushed != null" >
        IS_PUSHED,
      </if>
      <if test="stuNum != null" >
        STU_NUM,
      </if>
      <if test="oneCode != null" >
        ONE_CODE,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courierNumber != null" >
        #{courierNumber,jdbcType=VARCHAR},
      </if>
      <if test="ctmBarCode != null" >
        #{ctmBarCode,jdbcType=VARCHAR},
      </if>
      <if test="ctmName != null" >
        #{ctmName,jdbcType=VARCHAR},
      </if>
      <if test="shopNumber != null" >
        #{shopNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressee != null" >
        #{addressee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="courierCompany != null" >
        #{courierCompany,jdbcType=VARCHAR},
      </if>
      <if test="goods != null" >
        #{goods,jdbcType=VARCHAR},
      </if>
      <if test="goodsCost != null" >
        #{goodsCost,jdbcType=DECIMAL},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="numberType != null" >
        #{numberType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPushed != null" >
        #{isPushed,jdbcType=DECIMAL},
      </if>
      <if test="stuNum != null" >
        #{stuNum,jdbcType=VARCHAR},
      </if>
      <if test="oneCode != null" >
        #{oneCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zs.entity.SourceImportExample" resultType="java.lang.Integer" >
    select count(*) from SOURCE_IMPORT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SOURCE_IMPORT
    <set >
      <if test="record.courierNumber != null" >
        COURIER_NUMBER = #{record.courierNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.ctmBarCode != null" >
        CTM_BAR_CODE = #{record.ctmBarCode,jdbcType=VARCHAR},
      </if>
      <if test="record.ctmName != null" >
        CTM_NAME = #{record.ctmName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopNumber != null" >
        SHOP_NUMBER = #{record.shopNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.addressee != null" >
        ADDRESSEE = #{record.addressee,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.courierCompany != null" >
        COURIER_COMPANY = #{record.courierCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.goods != null" >
        GOODS = #{record.goods,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCost != null" >
        GOODS_COST = #{record.goodsCost,jdbcType=DECIMAL},
      </if>
      <if test="record.orderNumber != null" >
        ORDER_NUMBER = #{record.orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.numberType != null" >
        NUMBER_TYPE = #{record.numberType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isPushed != null" >
        IS_PUSHED = #{record.isPushed,jdbcType=DECIMAL},
      </if>
      <if test="record.stuNum != null" >
        STU_NUM = #{record.stuNum,jdbcType=VARCHAR},
      </if>
      <if test="record.oneCode != null" >
        ONE_CODE = #{record.oneCode,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        PROVINCE = #{record.province,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SOURCE_IMPORT
    set COURIER_NUMBER = #{record.courierNumber,jdbcType=VARCHAR},
      CTM_BAR_CODE = #{record.ctmBarCode,jdbcType=VARCHAR},
      CTM_NAME = #{record.ctmName,jdbcType=VARCHAR},
      SHOP_NUMBER = #{record.shopNumber,jdbcType=VARCHAR},
      CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      ADDRESSEE = #{record.addressee,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      COURIER_COMPANY = #{record.courierCompany,jdbcType=VARCHAR},
      GOODS = #{record.goods,jdbcType=VARCHAR},
      GOODS_COST = #{record.goodsCost,jdbcType=DECIMAL},
      ORDER_NUMBER = #{record.orderNumber,jdbcType=VARCHAR},
      NUMBER_TYPE = #{record.numberType,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      IS_PUSHED = #{record.isPushed,jdbcType=DECIMAL},
      STU_NUM = #{record.stuNum,jdbcType=VARCHAR},
      ONE_CODE = #{record.oneCode,jdbcType=VARCHAR},
      PROVINCE = #{record.province,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zs.entity.SourceImport" >
    update SOURCE_IMPORT
    <set >
      <if test="ctmBarCode != null" >
        CTM_BAR_CODE = #{ctmBarCode,jdbcType=VARCHAR},
      </if>
      <if test="ctmName != null" >
        CTM_NAME = #{ctmName,jdbcType=VARCHAR},
      </if>
      <if test="shopNumber != null" >
        SHOP_NUMBER = #{shopNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressee != null" >
        ADDRESSEE = #{addressee,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="courierCompany != null" >
        COURIER_COMPANY = #{courierCompany,jdbcType=VARCHAR},
      </if>
      <if test="goods != null" >
        GOODS = #{goods,jdbcType=VARCHAR},
      </if>
      <if test="goodsCost != null" >
        GOODS_COST = #{goodsCost,jdbcType=DECIMAL},
      </if>
      <if test="orderNumber != null" >
        ORDER_NUMBER = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="numberType != null" >
        NUMBER_TYPE = #{numberType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPushed != null" >
        IS_PUSHED = #{isPushed,jdbcType=DECIMAL},
      </if>
      <if test="stuNum != null" >
        STU_NUM = #{stuNum,jdbcType=VARCHAR},
      </if>
      <if test="oneCode != null" >
        ONE_CODE = #{oneCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
    </set>
    where COURIER_NUMBER = #{courierNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zs.entity.SourceImport" >
    update SOURCE_IMPORT
    set CTM_BAR_CODE = #{ctmBarCode,jdbcType=VARCHAR},
      CTM_NAME = #{ctmName,jdbcType=VARCHAR},
      SHOP_NUMBER = #{shopNumber,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      ADDRESS = #{address,jdbcType=VARCHAR},
      ADDRESSEE = #{addressee,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      COURIER_COMPANY = #{courierCompany,jdbcType=VARCHAR},
      GOODS = #{goods,jdbcType=VARCHAR},
      GOODS_COST = #{goodsCost,jdbcType=DECIMAL},
      ORDER_NUMBER = #{orderNumber,jdbcType=VARCHAR},
      NUMBER_TYPE = #{numberType,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      IS_PUSHED = #{isPushed,jdbcType=DECIMAL},
      STU_NUM = #{stuNum,jdbcType=VARCHAR},
      ONE_CODE = #{oneCode,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR}
    where COURIER_NUMBER = #{courierNumber,jdbcType=VARCHAR}
  </update>
  <select id="queryFenye" resultMap="BaseResultMap" parameterType="com.zs.entity.other.EasyUIAccept">
  	select * from
  	(
	  	select t1.*,rownum rn from
	  	(
		  	select * from SOURCE_IMPORT
		  	<where>
			  	<if test="str3!=null">
			  		and COURIER_NUMBER like '%${str3}%'
			  	</if>
			  	<if test="str4!=null">
			  		and CTM_BAR_CODE like '%${str4}%'
			  	</if>
			  	<if test="str5!=null">
			  		and CTM_NAME like '%${str5}%'
			  	</if>
			  	<if test="str6!=null">
			  		and ORDER_NUMBER like '%${str6}%'
			  	</if>
			  	<if test="str7!=null">
			  		and STU_NUM in (select stu_num from staff_user where stu_name like '%${str7}%')
			  	</if>
		  		and (CREATE_TIME >= #{date1} or IS_PUSHED=0)
		  	</where>
		  	<if test="sort!=null and order!=null">
		  		order by ${sort} ${order},CREATE_TIME desc
		  	</if>
		  	<if test="sort==null or order==null">
		  		order by CREATE_TIME desc
		  	</if>
	  	) t1
	  	<where>
	  		<if test="end!=null">
	  			rownum &lt;= #{end}
		  	</if>
	  	</where>
  	)
  	<where>
  		<if test="start!=null">
  			rn > #{start}
	  	</if>
  	</where>
  </select>
  <select id="getCount" resultType="int" parameterType="com.zs.entity.other.EasyUIAccept">
  	select count(*) from SOURCE_IMPORT
  	<where>
	  	<if test="str3!=null">
	  		and COURIER_NUMBER like '%${str3}%'
	  	</if>
	  	<if test="str4!=null">
	  		and CTM_BAR_CODE like '%${str4}%'
	  	</if>
	  	<if test="str5!=null">
	  		and CTM_NAME like '%${str5}%'
	  	</if>
	  	<if test="str6!=null">
	  		and ORDER_NUMBER like '%${str6}%'
	  	</if>
	  	<if test="str7!=null">
	  		and STU_NUM in (select stu_num from staff_user where stu_name like '%${str7}%')
	  	</if>
	  	and (CREATE_TIME >= #{date1} or IS_PUSHED=0)
 	</where>
  </select>
  <select id="queryToZM" resultMap="BaseResultMap">
  	select COURIER_NUMBER, CTM_BAR_CODE
  	from SOURCE_IMPORT 
  	where CREATE_TIME >= #{date}
  		  and IS_PUSHED = 0
  </select>
  <delete id="deleteAll">
    delete from SOURCE_IMPORT
    where CREATE_TIME >= #{date}
   	 	  and STU_NUM = #{stuNum}
  </delete>
</mapper>